<html>
    <body>
        <h1>Predict Probability of having Diabetes</h1>
        <form action="/" method="post">
            <p>Please enter your glucose level: </p>
            <p><input type="number" step="0.01" name="glucose"></p>
            <p>Please enter your BMI: </p>
            <p><input type="number" step="0.01" name="BMI"></p>
            <p>Please enter your age: </p>
            <p><input type="number" step="0.01" name="age"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>{{result1}}</p>
        <p>{{result2}}</p>
        <p>{{result3}}</p>
    </body>
</html>